:root {
	--background-color: rgb(234, 234, 234);
	--primary-color: rgb(24, 103, 91);
	--primary-hover: rgb(6, 140, 118);
	--text-color: rgb(85, 85, 85);
	--font-family: "Inter", sans-serif;
	--border-radius: 1rem;
	--input-border-color: #ccc;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: var(--font-family);
}

/* SECTION - POMODORO DESIGN */


.taskdoro {
	width: 35rem;
	height: 25rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	column-gap: 1rem;
}

.pomodoro_container {
	display: flex;
	row-gap: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius);
	background-color: white;
}


.pomodoro-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;
}

h1,
h2 {
	font-size: 1.7rem;
	font-weight: 500;
}

p {
	max-width: 80%;
	font-size: 0.9rem;
	color: rgb(85, 85, 85);
	font-weight: 300;
}



.pomodoro-timer {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 8rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
}


/* Eliminar las flechas predeterminadas (útil para un control total) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: none;
	appearance: none;
}



.number-input {
	width: 4rem;
	border: 1px solid var(--input-border-color);
	border-radius: 4px;
	padding: 8px;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
}

.spin-button {
	height: 100%;
	background-color: #eee;
	border: none;
	padding: 0.5rem;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}

/* SECTION - BREAKS DESIGN */

.pomodoro-breaks {
	display: flex;
	align-items: center;
	column-gap: 0.3rem;

}

.span_timebreaks {
	font-size: 0.9rem;
	color: rgb(85, 85, 85);
	font-weight: 400;
}

.checkbox-skipbreaks {
	width: 1rem;
	height: 1rem;
}

.button-startPomodoro {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 9.5rem;
	height: 2rem;
	border-radius: 0.5rem;
	background-color: var(--primary-color);
	color: white;
	cursor: pointer;
	transition: background-color 0.5s;
}

.button-startPomodoro:hover {
	background-color: var(--primary-hover);
}


/* SECTION - TASK DESIGN  */

.task_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	row-gap: 1rem;
	border-radius: var(--border-radius);
	background-color: white;
}

.task-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f9f9f9;
	padding: 0.5rem 1rem;
	margin-bottom: 0.5rem;
	border-radius: 5px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.delete-task {
	background-color: #e74c3c;
	color: white;
	border: none;
	padding: 0.3rem 0.6rem;
	border-radius: 4px;
	cursor: pointer;
}

.delete-task:hover {
	background-color: #c0392b;
}